<section class="my-lg-14 my-8">
  <div class="container">
    <div class="col-12 mb-6">
      <h3 class="mb-1">Shop by Category</h3>
    </div>

    <div class="row">
      <div *ngFor="let category of categoriesList$ | async" class="col-md-3 mb-5">
        <a [routerLink]="'categories/'+category.id" class="text-decoration-none text-inherit">
          <!-- card -->
          <div class="card card-product">
            <div class="card-body text-center py-8">
              <!-- img -->
              <img [src]="category.imageUrl" [alt]="category.name" class="mb-3">
              <!-- text -->
              <div class="text-truncate">{{category.name}}</div>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</section>
