<section class="my-lg-14 my-8">
  <div class="container">
    <div class="col-12 mb-6">
      <h3 class="mb-1">Shop by Category</h3>
    </div>

    <div class="row">
      <div *ngFor="let category of categoriesList$ | async" class="col-md-4 col-lg-3 mb-5">
        <a [routerLink]="'categories/'+category.id" class="text-decoration-none text-inherit">
          <!-- card -->
          <div class="card card-product">
            <div class="card-body text-center py-8">
              <!-- img -->
              <img [src]="category.imageUrl" [alt]="category.name" class="mb-3">
              <!-- text -->
              <div class="text-truncate">{{category.name}}</div>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</section>
<section class="my-lg-14 my-8" *ngIf="fruitsList$ | async as fruits">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-6">
        <h3 class="mb-1">{{fruits[0].category.name}}</h3>
      </div>
      <div *ngFor="let product of fruits" class=" col-sm-6 col-md-4 col-lg-3 mb-5"><a
          class="text-decoration-none text-inherit"><!-- card -->
          <div class="card card-product">

            <div class="card-body">
              <div *ngIf="product.discount !== 0">
                <span class="badge bg-success">{{product.discount}}%</span>
              </div><!-- img --><img [src]="product.imageUrl" [alt]="product.name" class="mb-3 img-fluid"><!-- text -->
              <div class="text-truncate">
                <h2 class="fs-6"><a [routerLink]="'/products/'+product.id"
                    class="text-inherit text-decoration-none">{{product.name}}</a></h2>
                <div class="d-flex justify-content-between align-items-center mt-3">
                  <div><span class="text-dark">${{product.discountPrice | number:'1.1-2'}} </span> <span
                      *ngIf="product.price!==product.discountPrice"
                      class="text-decoration-line-through text-muted">${{product.price}}</span>
                  </div>
                  <div><a href="#!" class="btn btn-primary btn-sm">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-plus">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg> Add</a></div>
                </div>
              </div>
            </div>
          </div>
        </a></div>
    </div>
  </div>
</section>
<section class="my-lg-14 my-8" *ngIf=" snacksList$ | async as snacks">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-6">
        <h3 class="mb-1">{{snacks[0].category.name}}</h3>
      </div>
      <div *ngFor="let product of snacks" class=" col-sm-6 col-md-4 col-lg-3 mb-5"><a
          class="text-decoration-none text-inherit"><!-- card -->
          <div class="card card-product">
            <div class="card-body">
              <div class="text-center position-relative">
                <div class=" position-absolute top-0 start-0" *ngIf="product.discount !== 0">
                  <span class="badge bg-success">{{product.discount}}%</span>
                </div>
                <!-- img --><img [src]="product.imageUrl" [alt]="product.name" class="mb-3 img-fluid"><!-- text -->
              </div>
              <div class="text-truncate">
                <h2 class="fs-6"><a [routerLink]="'/products/'+product.id"
                    class="text-inherit text-decoration-none">{{product.name}}</a></h2>
                <div class="d-flex justify-content-between align-items-center mt-3">
                  <div><span class="text-dark">${{product.discountPrice | number:'1.1-2'}} </span> <span
                      *ngIf="product.price!==product.discountPrice"
                      class="text-decoration-line-through text-muted">${{product.price}}</span>
                  </div>
                  <div><a href="#!" class="btn btn-primary btn-sm">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-plus">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg> Add</a></div>
                </div>
              </div>
            </div>
          </div>
        </a></div>
    </div>
  </div>
</section>
<section class="my-lg-14 my-8" *ngIf="storesListWithTags$ | async as stores">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-6">
        <h3>Stores</h3>
      </div>
      <div class="mb-4">
        <h6>
          We have <span class="text-primary">{{stores.length}}</span> vendors
          now
        </h6>
      </div>
    </div>
    <div class="row">

      <!-- card -->
      <div *ngFor="let store of stores" class=" col-md-6 col-lg-4 mb-5  ">
        <div class="card flex-row p-8 card-product">
          <!-- img -->
          <div>
            <img [src]="store.logoUrl" [alt]="store.name" class="rounded-circle icon-shape icon-xl">
          </div>
          <!-- text -->
          <div class="ms-6">
            <h5 class="mb-1">
              <a [routerLink]="'stores/'+store.id" class="text-decoration-none text-inherit">
                {{store.name}}
              </a>
            </h5>
            <div class="small text-muted">
              <span *ngFor="let tag of store.tags; last as last"><span>{{tag}}</span> <span *ngIf="!last">
                  &#x2022; </span></span>
            </div>
            <div>
              <span class="badge text-bg-light border">{{store.distanceInKms | number:'1.1-1' }} km</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>
