<div class=" mt-8 mb-lg-14 mb-8">
  <div class="container">
    <div class="row gx-10">
      <aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
        <div class="offcanvas offcanvas-start offcanvas-collapse w-md-50 ">
          <div class="offcanvas-header d-lg-none">
            <h5 class="offcanvas-title">Filter</h5>
            <button type="button" class="btn-close" aria-label="Close"></button>
          </div>

          <div class="offcanvas-body ps-lg-2 pt-lg-0" [formGroup]="filterForm">
            <div class="mb-8">
              <h5 class="mb-3">Categories</h5>
              <ul class="nav nav-category">
                <li *ngFor="let category of categories$ | async" class="nav-item border-bottom w-100 collapsed"><a
                    class="nav-link" [routerLink]="'/categories/'+category.id">{{category.name}}<i
                      class="feather-icon icon-chevron-right"></i></a></li>
              </ul>
            </div>
            <div class="mb-8">

              <h5 class="mb-3">Stores</h5>
              <div *ngFor="let store of stores$ | async" class="form-check mb-2"><input [id]="store.id"
                  class="form-check-input" type="checkbox" value="store.id" formControlName="stores"
                  (click)="onStoreChanged(store)">
                <label [for]="store.id" class="form-check-label">{{store.name}}</label>
              </div>
            </div>
            <div class="mb-8">
              <!-- price -->
              <h5 class="mb-3">Price</h5>
              <div>
                <input type="number" placeholder="Price from" class="form-control mb-3" formControlName="priceFrom">
                <input type="number" placeholder="Price to" class="form-control" formControlName="priceTo">
              </div>
            </div>
            <ng-container *ngIf="starsFilter$ | async as rating">
              <div class="mb-8">
                <h5 class="mb-3">Rating</h5>
                <div *ngFor="let item of rating" class="form-check mb-2"><input [id]="item.id" class="form-check-input"
                    type="radio" name="rating" formControlName="rating" [value]="item.value">
                  <label [for]="item.id" class="form-check-label"><small class="text-warning">
                      <i *ngFor="let val of item.stars" class="bi"
                        [ngClass]="{'bi-star-fill': val === 1, 'bi-star': val === 0}"></i></small></label>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

      </aside>
      <section class="col-lg-9 col-md-12" *ngIf="filteredProducts$ | async as products">
        <div class="card mb-4 bg-light border-0" *ngIf="categoryDetails$ | async as category">
          <div class=" card-body p-9">
            <h2 class="mb-0 fs-1">{{category.name}}</h2>
          </div>
        </div>
        <ng-container>
          <div class="row">
            <div class="d-sm-flex w-100 align-items-center justify-content-between">
              <p class="mb-3 mb-md-0"><strong>{{products.length}}</strong> Products found</p>
              <form class="w-sm-30" [formGroup]="form">
                <select formControlName="selectFilter" class="form-select">
                  <option *ngFor="let item of filterOptions$ | async" [ngValue]="item">{{item.value}}</option>
                </select>
              </form>
            </div>
            <div *ngFor="let product of productsList$ | async" class="  col-12 mt-2"><a
                class="text-decoration-none text-inherit"><!-- card -->
                <div class="card card-product">
                  <div class="card-body d-sm-flex  text-center align-items-center text-sm-start">
                    <!-- img -->
                    <div>
                      <img [src]="product.imageUrl" [alt]="product.name" class="mb-3 img-fluid">
                    </div>
                    <!-- text -->
                    <div>
                      <div class="text-smal mb-1"><span class="text-decoration-none text-muted"
                          href=""><small>{{product.category.name}}</small></span></div>
                      <div class="text-truncate">
                        <h2 class="fs-6 text-wrap">{{product.name}}</h2>
                      </div>
                      <div>
                        <small class="text-warning">
                          <i *ngFor="let val of product.stars" class="bi"
                            [ngClass]="{'bi-star-fill': val === 1, 'bi-star': val === 0, 'bi-star-half': val === 0.5}"></i>
                        </small><span class="text-muted small"> {{product.ratingValue}} ({{product.ratingCount}})</span>
                      </div>
                      <div class="mt-3">
                        <p class="text-dark">${{product.price}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a></div>
          </div>
        </ng-container>
        <nav class="mt-8" *ngIf="paginationData$ | async as pagination"
          [ngClass]="{invisible:products.length<pagination.pageSize}">
          <div class="row">
            <div class="col-6">
              <h6>Limit</h6>
              <ul class="pagination">
                <li class="page-item" *ngFor="let item of pageSizeOptions$ | async" (click)="onLimitChanged(item)"
                  [ngClass]="{'page-item active': pagination.pageSize === item}"><a class="page-link">{{item}}</a></li>
              </ul>
            </div>
            <div class="col-6">
              <h6>Pagination</h6>
              <ul class="pagination">
                <li class="page-item" *ngFor="let item of pageNumberOptions$ | async" (click)="onPageChanged(item)"
                  [ngClass]="{'page-item active': pagination.pageNumber === item}"><a class="page-link">{{item}}</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </section>
    </div>
  </div>
</div>
